body {
    background-image: url(https://i.ibb.co/R2w4tR0/background-img.png);
}

/*NAVBAR*/

.navbar-brand {
    font-size: 20pt;
    color: black;
    margin-left: 450px;
    transition: 0.5s;
    font-family: 'Raleway', sans-serif;
}

.navbar-nav {
    margin-right: 450px;
}

.navbar-brand:hover {
    color: white !important;
    transition: 0.3s;
}

.nav-link {
    color: black !important; 
    transition: 0.2s;
    margin: 0px 30px;
    padding: 2px 0px !important;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-color: white;
    transition: 0.2s;
    transform: translateY(2px);
}

.bg-color {
    background-color: #3BB9FF;
}
/*NAVBAR END*/

/*BODY*/

.gettingstarted {
    width: 80%;
    margin: 50px auto;
    height: 300px;
}

.intro h1 {
    font-size: 40pt;
    color: #3BB9FF;
}

.intro hr {
    margin: 10px 70% 10px 0px;
    background-color: #3BB9FF;
}

.guide a {
    color:white;
    text-decoration: underline;
    text-decoration-color: #3BB9FF;
    transition: 0.2s;
}

.guide a:hover {
    color: #3BB9FF;
    text-decoration: none;
    transition: 0.2s;
}

ol {
    padding-top: 10px;
}

ol li {
    font-size: 15pt;
    color: white;
    margin: 10px 0px;
    cursor: default;
}

li:hover {
    cursor: default;
}

/*BODY END*/

/*FOOTER*/
.foot-container {
    background-color: #3BB9FF;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.text1 h1 {
    color: black;
    font-size: 40pt;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.text1 sub {
    color: black;
    font-size: 20pt;
}

.foot-container ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.foot-container ul li {
    list-style-type: none;
    font-size: 30pt;
}

.foot-container li {
    margin: 0px 25px;
    padding: 10px 10px;
    border-radius: 100%;
    transition: 0.2s;
}

.foot-container li:hover {
    background-color:black;
    transition: 0.2s;
    cursor: pointer;
}

.fa-twitter, .fa-discord, .fa-envelope {
    color: white;
    margin: 0px 10px;
}
/*FOOTER END*/

/*MOBILE SUPPORT*/
@media (max-width: 812px) {
    .navbar-nav {
        margin: 0;
    }

    .navbar-toggler {
        margin-right: 20px;
        border-color: transparent !important;
    }

    button {
        outline: none;
    }

    .navbar-toggler-icon {
        background-image: url(https://i.ibb.co/pbPbDkY/burger.png) !important;
        border-color: transparent;
    }

    .navbar-brand {
        margin: 20px;
    }

    .intro h1 {
        font-size: 30pt;
    }

    .text1 h1 {
        font-size: 30pt;
    }

    .text1 sub {
        font-size: 15pt;
    }

    .intro hr {
        margin: 10px 0% 10px 0px;
        background-color: black;
    }

    .foot-container {
        position: relative;
    }

    .gettingstarted {
        width: 90%;
    }

    ol li {
        margin: 50px 0px;
    }

    ol {
        padding-top: 0px;
    }

    .intro-text {
        text-align: center;
    }

    .text1 sub {
        font-size: 15pt;
    }
}
